<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stw">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.STW">
        <activity
            android:name=".commonTitleList"
            android:exported="true" />
        <activity
            android:name=".commonWrite"
            android:exported="true" />
        <activity
            android:name=".commonSearch"
            android:exported="true" />
        <activity
            android:name=".commonCreate"
            android:exported="true" />
        <activity
            android:name=".personalStorage"
            android:exported="true" />
        <activity
            android:name=".personalDiary"
            android:exported="true" />
        <activity
            android:name=".commonDiary"
            android:exported="true" />
        <activity
            android:name=".newSignup"
            android:exported="true" />
        <activity
            android:name=".newLogin"
            android:exported="true" />
        <activity
            android:name=".userPage"
            android:exported="true" />
        <activity
            android:name=".nakigiStorage"
            android:exported="true" />
        <activity
            android:name=".nakigiSaying"
            android:exported="true" />
        <activity
            android:name=".nakigiPopup"
            android:exported="true"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".checkNakigi"
            android:exported="true" />
        <activity
            android:name=".nakigi"
            android:exported="true" />
        <activity
            android:name=".signup"
            android:exported="true" />
        <activity
            android:name=".login"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>